@using EfCoreApp.Data
@model Course

<h2>Kurs Güncelleme Formu</h2>
<hr />
<div class="row">
    <div class="col-8">
        <form asp-controller="Course" asp-action="Edit" method="post">
            <input type="hidden" asp-for="CourseId" />
            <div class="mb-3">
                <label asp-for="CourseName" class="form-label">Kursun Adı</label>
                <input asp-for="CourseName" class="form-control" />
            </div>
            <div class="mb-3">
                <label asp-for="TrainerId" class="form-label">Eğitmen</label>
                <select asp-for="TrainerId" asp-items="ViewBag.Trainers" class="form-select">
                    <option value="">Eğitmen Seçiniz</option>
                </select>
            </div>
            <button type="submit" class="btn btn-success">Güncelle</button>
            <a href="/Course/Index" class="btn btn-secondary">Listeye Dön</a>
        </form>
    </div>
    <div class="col-4">
        <h4>Öğrenci Listesi</h4>
        <hr />
        <ul>
            @foreach(var item in Model.CourseRegisters)
            {
                <li>@item.Student.Studentname @item.Student.Studentsurname</li>
            }
        </ul>
    </div>
</div>
